<!DOCTYPE html>
<html lang="en-US" ng-app="WebChatAngularApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/chat-ng.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="SampleController">
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}

<span ng-if="!showMessageBarTrue">
        <h4>Enter your name:</h4>
        <input type="text" placeholder="Name" ng-model="username"/>
        <input type="button" ng-click="showMessageBar(username)" value="Enter"/>
    </span>


<span ng-if="showMessageBarTrue">
        <h4>Current User: {{username}}</h4>

        <input type="text" placeholder="Enter a message here" ng-model="inputMessage"/>
        <input type="button" ng-click="sendMessage(username, inputMessage)" value="send"/>

        <div>

            <h3>Messages: </h3>
            <span ng-repeat="message in messageList">
                {{message}} <br/>
            </span>

        </div>

        <br/><br/>
        <h4>Show my message history: </h4>
        <input type="button" ng-click="showHistory()" value="History"/>
        <span ng-repeat="m in historyList">
            <br/> {{m.name}} said: {{m.text}}
        </span>
    </span>

</body>
</html>
